body {
    background-color: rgb(9, 39, 39);
}

.header {
    background-color: rgb(143, 194, 194);
    padding: 30px;
    text-align: center;
}

#navbar {
    padding-left: 20px;
    margin-left: 60%;
    background-color: rgb(214, 243, 201);
    opacity: 75%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(241, 213, 176);
}

li {
    padding: 15px 10px;
}

li:hover {
    background-color: rgb(148, 135, 135);
}

#images {
    margin-left: 50px;
    margin-right: 60%;
    display: flex;
    flex-wrap:wrap;    
    row-gap: 20px;
    column-gap: 20px;  
}

img {
    height: 250px;
    width: 250px;
    border: solid 2px blue;
    border-spacing: 50px;
}

img:hover {
    box-shadow: 10px 7px 15px rgb(214, 207, 207);
}
